build/
build-win-local/
build-win-cli/
test/build
test/kananlib
test/build-cov
test/build-clang
test/build-win-local

# clang coverage profile dumps
*.profraw
*.profdata

# Windows reserved-name phantom created by stray `> NUL` redirects
NUL